@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/futura-pt');

:root {
    --kanit: 'Kanit', sans-serif;
    --futura: 'Futura pt', sans-serif;
    --fs-table: 16px;
    --fs-standard: 20px;
    --fs-clock: 54px;
    --fs-date: 24px;
    --fs-nav: 30px;
}