@import url(globals.css);
* {
    margin: 0;
    padding: 0;
    font-family: var(--kanit);
    color: var(--white);
}


.appStateTwo {
    background-color: #668A9C;
    height: 100vh;
    width: 400px;
    margin: auto;
    position: relative;
}

.s2FullLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 16px;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
}

.s2DayLocation {
    font-weight: 300;
}

.s2LocationSvg {
    height: 30px;
}

.s2DayStatus {
    position: absolute;
    left: 50%;
    top: 170px;
    translate: -50% 0;
    width: 100px;
    height: 100px;
}

.s2DayTemp {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    font-size: 60px;
}


.s2FullDate {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    position: absolute;
    left: 50%;
    bottom: 280px;
    translate: -50% 0;
    
}
.s2DayTime {
    text-align: center;
    font-size: 22px;
}

.s2DayDate {
    font-size: 18px;
}


.s2WindRainDiv {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    bottom: 100px;
    left: 50%;
    translate: -50% 0;
}

.s2FullWindRain {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    padding: 14px;
    border: 2px solid var(--white);
    border-radius: 50%;
    background-color: #ffffff22;
}

.s2DayWindRainP {
    font-size: 28px;
}

.navMainClass {
    width: 400px;
    height: 50px;
    background-color: beige;
    display: flex;
    gap: 0;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}



.navMainClass button {
    width: 50%;
    color: var(--black);
    font-size: 24px;
    border: none;
    outline: none;
    /* backdrop-filter: opacity(50%);
    backdrop-filter: blur(50px); */
}

.navClass1 button:first-of-type {
    background-color: #fff;
}
.navClass1 button:last-of-type {
    background-color: #ccc;
}

.navClass2 button:first-of-type {
    background-color: #ccc;
}
.navClass2 button:last-of-type {
    background-color: #fff;
}






.swipeElement {
    width: 100%;
    height: 100%;
    z-index: 5000;
    position: relative;
  }