@import url(globals.css);
* {
    margin: 0;
    padding: 0;
}



.appStateOne {
    background-color: var(--darkblue);
    height: 100vh;
    width: 400px;
    margin: auto;
    position: relative;
}

.s1LoadingTitle {
    color: var(--white);
    font-family: var(--kanit);
    font-weight: 300;
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 100px;
    translate: -50% 0;
}

.s1LoadingAnimation {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    animation: loading 1s linear 0s infinite normal both;
}

@keyframes loading {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

.s1LoadingText {
    color: var(--white);
    font-family: var(--futura);
    font-weight: 400;
    font-size: 40px;
    position: absolute;
    left: 50%;
    bottom: 200px;
    translate: -50% 0;
}