@import url(globals.css);

* {
    margin: 0;
    padding: 0;
    font-family: var(--kanit);
    color: var(--white);
}


.s3allDays {
    padding-top: 40px;
}

.s3DayContainer {
    width: 80%;
    height: 120px;
    background-color: rgb(44, 64, 101);
    margin: 0 auto 14px auto;
    border-radius: 10px;
    position: relative;
}

.s3date {
    position: absolute;
    top: 5px;
    right: 10px;
}

.s3fullStatus {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 20px;
    bottom: 20px;
    gap: 20px;
}

.s3statusContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.s3statusContainer img {
    width: 40px;
    height: 40px;
}

.s3statusContainer p {
    font-size: 20px;
}

.s3tempContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s3tempContainer p:first-of-type {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.1;
}

.s3tempContainer p:last-of-type {
    font-size: 20px;
}



.s3windContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s3windContainer img {
    width: 40px;
    height: 40px;
}
.s3windContainer p {
    font-size: 20px;
}